:root {
    --main-background-color: #D97E7E;
    --main-bloody-red-color: #A60F0F;
    --main-dark-red-color: #590202;
    --main-white-color: white;
    --main-light-grey-color: #737373;
    --main-grey-color: #595959;
    --main-light-green-color: #94BF36;
    --main-green-color: #375915;
}