<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>TLS Blutspende</title>
</head>
<body>
    <a class="button" href="/iservlogin">IServ Login</a>
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input type="text" name="name" placeholder="Name" value="{{ request.form.name }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input type="email" name="email" placeholder="Email" autofocus="" value="{{ request.form.email }}">
                </div>
            </div>

            <button class="button">Fortfahren</button>
        </form>
    </div>
</body>
</html>