<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>TLS Blutspende</title>
    <link rel="stylesheet" href="login-style.css">
</head>

<body>
    <main>
        <div class="box-top">
            <form class="login-form" method="POST" action="/login">
                <h1>TEXT</h1>

                <input class="input-style1" type="text" name="name" placeholder="Maximilian Mustermann">

                <input class="input-style1" type="email" name="email" placeholder="max.mustermann@tls-giessen.eu">

                <button class="button btn-style1">Fortfahren</button>
            </form>
        </div>

        <div class="box-bottom">
            <img class="iserv-logo" src="img/ISERV.svg" alt="IServ-Logo">
            <a class="button btn-style1" href="/iservlogin">Daten über IServ importieren</a>
        </div>
    </main>
</body>

</html>