<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>TLS Blutspende</title>

    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/login-style.css">   

</head>

<body>
    <img src="../static/img/Blood-LeftBottom.svg" class="Blood-LeftBottom">
    <main>
        <div class="box">

            <form class="login-form" method="POST" action="/login">
                <h1>Registierung</h1>

                <input class="input-style1" type="text" name="name" placeholder="Maximilian Mustermann">

                <input class="input-style1" type="email" name="email" placeholder="max.mustermann@tls-giessen.eu">

                <button class="login-btn btn-style1">Fortfahren</button>

                <hr>

                <img class="iserv-logo" src="../static/img/ISERV.svg" alt="IServ-Logo">

                <a class="btn-style1" href="/iservlogin">Daten über IServ importieren</a>
            </form>
        </div>
    </main>
    <img src="../static/img/Blood-RightTop.svg" class="Blood-RightTop">

</body>

</html>