<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spendercheck</title>
</head>
<body>
    <h1>Leider sind Sie nicht passend für eine Blutspende, weil Sie nicht die eben abgefragten Voraussetzungen nicht
    erfüllen.</h1>
    <h2>Wir bedauern dies und hoffen, dass Sie spenden, wenn Sie alle Voraussetzungen erfüllen.</h2>
    <h2>Mit freundlichen Grüßen <br> Ihr Blutspende Team der Theodor-Litt-Schule Gießen <br> E-Mail: blutspende@tls-gi.eu</h2>

    <h4>Falls Sie denken, dass dies ein Fehler ist, dann überprüfen Sie nochmal, ob alle Haken richtig gesetzt sind.</h4>
    <h4>Beachten Sie aber dass alle Fragen relevant für die Spendetüchtigkeit sind.</h4>
    <a href="/questions">Zu den Fragen</a>
</body>
</html>



